.DS_STORE
phpinfo.php
phpliteadmin
node_modules
.vscode
.htpasswd

public_html/db

# Audio files that may be uploaded
**/*.3gp
**/*.aac
**/*.amr
**/*.flac
**/*.m4a
**/*.mp3
**/*.oga
**/*.ogg
**/*.opus
**/*.aif
**/*.aiff
**/*.wav

# Uploaded images
public_html/assets/*.jpg
public_html/assets/*.png
public_html/assets/*.webp
public_html/assets/*.bmp
public_html/assets/*.gif
public_html/assets/*.avif

# Sends must be an empty directory
public_html/assets/sends/**
!public_html/assets/sends/.gitkeep
